version: '3.1'
services:
  stats-service:
    build: ewm-stats/service
    image: ewm-stats
    container_name: stats_container
    ports:
      - "9090:9090"
    depends_on:
      - stats-db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/stats

  stats-db:
    image: postgres:12.1-alpine
    container_name: ewm_stats_db
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_DB=stats
      - POSTGRES_USER=stats_user
      - POSTGRES_PASSWORD=12345

  main-service:
    build: ewm-main
    image: ewm-main
    container_name: ewm_main_container
    ports:
      - "8080:8080"
    depends_on:
      - ewm-db
      - stats-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ewm-db:5433/ewm-main-db

  ewm-db:
    image: postgres:12.1-alpine
    container_name: ewm_main_db
    ports:
      - "6542:5433"
    environment:
      - POSTGRES_DB=main
      - POSTGRES_USER=stats_user
      - POSTGRES_PASSWORD=12345